@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


[data-theme='dark'],
[data-theme='dark'] body {
  color: #fff;
  background: #00002F;
}
[data-theme='dark'],
[data-theme='dark'] .nav_bar {
  color: #fff;
  background: #00002F;
}

[data-theme='dark'],
[data-theme='dark'] input {
  color: #fff;
  background: #00002F;
}
[data-theme='dark'],
[data-theme='dark'] .btn {
  color: #fff;
  background: #00002F;
}
[data-theme='dark'],
[data-theme='dark'] .tag_line {
  color: #cccbcb;
}
[data-theme='dark'],
[data-theme='dark'] .modal_bg {
  color: #fff;
    background: #00002F;
}
[data-theme='dark'],
[data-theme='dark'] .dropdown-content {
  color: #fff;
    background: #01011d;
}